.app{
  display: flex;
  align-content: right; 
  
}
.card{
  width: 500px;
  border-radius: 8%;
  margin-left: 400px;
  margin-top: 10px;
  position: relative;

}
.title{
   position: absolute;
   top:20px;
   left:670px;
   color: rgb(223, 220, 215);
}
.Puce{
width: 100px;
position: absolute;
border-radius: 10%;
top:90px;
left:420px;
}
.master{
   width: 80px;

}
.visa{
   width: 80px;
}
.EU{
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 790px;
   top: 200px;
}
.Serial{
   position: absolute;
   top:150px;
   left:450px;
   color: rgb(223, 220, 215);
}
.validation{
   display: flex;
   position: absolute;
   top:200px;
   left:450px;
   color: rgb(223, 220, 215);  
}
.Valid{
   position: absolute;
   left:250px;
}
.Valid-date{
   font-size: 25px;
   position: absolute;
   padding-top: 10px;
   left:230px;
}
.Nom{
   position: absolute;
   top:280px;
   left:450px;
   color: rgb(223, 220, 215);
}
